<!DOCTYPE html>
<html lang="en">
{% if current_user.is_authenticated %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Analyse</title>
  <!-- socetio -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
  <link rel="stylesheet" href="../static/css/index.css">
  <!-- socketio -->
  <!-- plugins:css -->
  <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../static/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../static/images/favicon.png" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"></script>
</head>

<body>
  <!-- socketio -->
  <script type="text/javascript">
    $(document).ready(function () {
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('connect', function () {});
      socket.on('message', function (msg) {
        setBotResponse(msg);
      });

      $('#mymessage').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        var text = $("#mymessage").val();

        if (keyCode === 13) {
          if (text == "" || $.trim(text) == '') {
            e.preventDefault();
            return false;
          } else {
            e.preventDefault();
            setUserResponse(text);
            // socket.on('connect', function () {
              socket.send(text);
            // });
            
            $("#mymessage").blur();
            // socket.on('message', function (msg) {
            //   setBotResponse(msg);
            // });

            return false;
          }
        }
      });

      $('#sendbutton').on('click', function (e) {
        var text = $("#mymessage").val();
        if (text == "" || $.trim(text) == '') {
          e.preventDefault();
          return false;
        } else {
          e.preventDefault();
          setUserResponse(text);
          // socket.on('connect', function () {
              socket.send(text);
            // });
          $("#mymessage").blur();
          // socket.on('message', function (msg) {
          //   setBotResponse(msg);
          // });
          return false;
        }
      });
    });
  </script>
  <div class="container">
    <div class="row">
      <div id="Smallchat">
        <div class="Layout Layout-open Layout-expand Layout-right"
          style="background-color: #3F51B5;color: rgb(255, 255, 255);opacity: 5;border-radius: 10px;">
          <div class="Messenger_messenger">
            <div class="Messenger_header" style=" color: rgb(255, 255, 255);">
              <h4 class="Messenger_prompt">How can we help you?</h4>
              <span class="chat_close_icon" style=" color:white;margin-right: 5px;float:right;margin-top: 5px;">
                <i class="material-icons" aria-hidden="true">close</i>
              </span>
            </div>

            <div class="Messenger_content">
              <div class="Messages chats" id="chats">
                <div class="clearfix"></div>
              </div>
              <div class="Input Input-blank">
                <form>
                <input type="text" id="mymessage" class="Input_field" placeholder="Send a message..."
                  style="height: 20px;"></input>
                <button id="sendbutton" class="Input_button Input_button-send" type="submit">
                  <div class="Icon" style="width: 18px; height: 18px;">
                    <svg width="57px" height="54px" viewBox="1496 193 57 54" version="1.1"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      style="width: 18px; height: 18px;">
                      <g id="Group-9-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                        transform="translate(1523.000000, 220.000000) rotate(-270.000000) translate(-1523.000000, -220.000000) translate(1499.000000, 193.000000)">
                        <path
                          d="M5.42994667,44.5306122 L16.5955554,44.5306122 L21.049938,20.423658 C21.6518463,17.1661523 26.3121212,17.1441362 26.9447801,20.3958097 L31.6405465,44.5306122 L42.5313185,44.5306122 L23.9806326,7.0871633 L5.42994667,44.5306122 Z M22.0420732,48.0757124 C21.779222,49.4982538 20.5386331,50.5306122 19.0920112,50.5306122 L1.59009899,50.5306122 C-1.20169244,50.5306122 -2.87079654,47.7697069 -1.64625638,45.2980459 L20.8461928,-0.101616237 C22.1967178,-2.8275701 25.7710778,-2.81438868 27.1150723,-0.101616237 L49.6075215,45.2980459 C50.8414042,47.7885641 49.1422456,50.5306122 46.3613062,50.5306122 L29.1679835,50.5306122 C27.7320366,50.5306122 26.4974445,49.5130766 26.2232033,48.1035608 L24.0760553,37.0678766 L22.0420732,48.0757124 Z"
                          id="sendicon" fill="#96AAB4" fill-rule="nonzero"></path>
                      </g>
                    </svg>
                  </div>
                </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--===============CHAT ON BUTTON STRART===============-->
        <div class="chat_on">
          <span class="material-icons">
            book
          </span> </div>
        <!--===============CHAT ON BUTTON END===============-->
      </div>
    </div>
  </div>
  <!-- socketio -->

  <div class="container-scroller">
    <!-- partial:../static/partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="index.html"><img src="../static/images/logo.svg" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../static/images/logo-mini.svg"
              alt="logo" /></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav navbar-nav-left">
          <h4>{{ pdf.filename }}</h4>
        </ul>

        <ul class="navbar-nav navbar-nav-right">

          <!-- <li class="nav-item nav-profile dropdown"> -->
          <li class="nav-item nav-profile">
            <!-- <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown"> -->
            <a class="nav-link" href="#">
              <img src="../static/images/faces/face5.jpg" alt="profile" />
              <span class="nav-profile-name">{{current_user.username}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
             
              <a class="dropdown-item" href="/logout">
                <i class="mdi mdi-logout text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/searchengine">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title">Search Engine</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('wordcloud', pdf_id=pdf.id) }}">
              <i class="mdi mdi-chart-pie menu-icon"></i>
              <span class="menu-title">Wordcloud</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('summarization', pdf_id=pdf.id) }}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Summarization</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('qna', pdf_id=pdf.id) }}">
              <i class="mdi mdi-emoticon menu-icon"></i>
              <span class="menu-title">QnA</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="mdi mdi-file-document-box-outline menu-icon"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper" style="margin: 0;padding: 0;">
          <div class="row">
            
            <div class="col-lg-8 grid-margin stretch-card" style="margin: 0;padding: 0;">
              <div class="card">
                <div class="card-body">
                  <!-- <h4 class="card-title">{{ pdf.filename }}</h4>
                  <p class="card-description">
                  </p> -->

                  <!-- PDF -->
                  <style>
                    /* Only resize the element if PDF is embedded */
                    .pdfobject-container {
                      width: 100%;
                      height: 650px;
                    }
                  </style>

                  <div id="my-container"></div>

                  <script>
                    PDFObject.embed("../static/pdf/{{current_user.username}}_{{pdf.filename}}", id="#my-container");
                  </script>
                  <!-- PDF -->

                </div>
              </div>
            </div>
            <div class="col-lg-4 grid-margin stretch-card" style="margin: 0;padding: 0;">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Options</h4>
                  <p class="card-description">
                    <!-- Add class <code>.table-bordered</code> -->
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../static/partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a
                href="https://www.analyticware.in/" target="_blank">AnalyticWare</a>. All rights reserved.</span>
            <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span> -->
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- socketio -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="../static/js/index.js"></script>
  <!-- socketio -->
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../static/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../static/js/off-canvas.js"></script>
  <script src="../static/js/hoverable-collapse.js"></script>
  <script src="../static/js/template.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../static/js/file-upload.js"></script>
  <!-- End custom js for this page-->
</body>
{% else %}
<h1>404!</h1>
{% endif %}

</html>