<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="shortcut icon" href="../static/images/idea.png" />
</head>

<body>
  {% import "bootstrap/wtf.html" as wtf %}
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div>
                <img src="../static/images/idea.svg" alt="logo" height="60px;" style="margin-bottom: 30px;">
              </div>
              <h4>Hello! let's get started</h4>
              <h6 class="font-weight-light">Sign in to continue.</h6>
              <div class="main">
                <div class="col-md-6 col-sm-12">
                  
                  <form class="form-signin pt-3" method="POST" action="/login">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.username) }}
                    {{ wtf.form_field(form.password) }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                  </form>
                  <div class="text-center mt-4 font-weight-light">
                    Not Registered ? <a href="/signup" class="text-primary"> Register</a>
                  </div>
                  <br>
                  <br>
                  {{ warning }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>